extends layouts/layout

block pagehead
  title Call to Action | Modern Business

block layout-content
  .container.py-5
    +cta('Ready to take your business to the next level?', 'Contact Us', '/contact')
